/* Contenedor principal: ocupa toda la pantalla */
.login-container {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  height: 100vh;
  background-color: #b7e7ffff; /* azul claro del fondo */
}

/* Panel general (dos columnas: izquierda y derecha) */
.login-panel {
  display: flex;
  width: 1000px;         /* ancho total del panel */
  max-width: 95%;       /* responsive en pantallas pequeñas */
  height: 600px;        /* altura fija */
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  border: 1.5px solid #000000ff;
}

/* Panel izquierdo */
.left-panel {
  flex: 1;
  background: #e5f4fdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  border-right: 1.5px solid #000000ff;
  position: relative; /* necesario para ubicar el círculo */
  overflow: hidden;
  
}

.left-panel::before {
  content: "";
  position: absolute;
  width: 600px;         
  height: 350px;        
  border-radius: 0 0 50% 50%;  /* 👈 curva hacia abajo */
  background: #ffffff;   
  top: 0;                /* pegado arriba */
  left: 50%;             
  transform: translateX(-50%); 
  z-index: 0;
}


.left-panel h1,
.left-panel p {
  position: relative;
  z-index: 1;
}


.welcome-title {
  font-size: 38px;
  font-weight: bold;
  color: #333;
  
}

.subtitle {
  font-size: 17px;
  color: #666;
  margin: 10px 0 20px 0;
}

.doctor-img {
  width: 280px;     /* espacio del borde */
}


.image-container{
  height: auto;
  object-fit: contain;
  align-self: flex-end;   /* 👈 solo la imagen se va a la derecha */
  margin-top: 60px;
  margin-right: -80px;
  
}

.text-container{
margin-top: 140px;
}

/* Panel derecho */
.right-panel {
  flex: 1;
  background: #ffffffff;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.logo {
  width: 200px;
  margin-bottom: 5px;
}

.app-name {
  font-size: 22px;
  margin-bottom: 20px;
}

.app-name span {
  color: #007bff;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  width: 70%;

}

.login-form label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/*.checkbox {
  margin-top: 15px;
  display: flex;
  align-items: center;
}*/

.login-form button {
  margin-top: 20px;
  padding: 12px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-form button:hover {
  background: #007bff;
}
